<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>127.0.0.1:4560</destination>
    <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
    <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <pattern>
          <pattern>
            {
            "level": "%level",
            "application": "${:-}",
            "pid": "${PID:-}",
            "thread": "%thread",
            "logger": "%logger{40}",
            "message": "%message"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <root level="INFO">
    <!-- <appender-ref ref="LOGSTASH"/> -->
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
